$color-background: #080808;
$color-foreground: #FFFFFF;
$color-primary: #ffc100;
$color-subtle: #BBBBBB;

$default-font: 'Trebuchet MS', Gadget, sans-serif;

$spacing-small: 10px;
$spacing-medium: 20px;