@import './constants';

@mixin titleFont() {
  font-family: $default-font;
  font-size: 32px;
  color: $color-foreground
}

@mixin subtitleFont() {
  font-family: $default-font;
  font-size: 28px;
  color: $color-foreground
}